In [27]:
import pandas as pd
import json
import requests
import os 
api_url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json"
def get_number_of_jobs_T(technology):
    
    number_of_jobs = 0
    payload={"Key Skills":technology}
    response=requests.get(api_url,params=payload)
    if response.ok:           
        data = response.json()
        number_of_jobs += len(data)
    else: number_of_jobs += len(data)     

    return technology,number_of_jobs
    print(data) 
    print(number_of_jobs)

In [2]:
get_number_of_jobs_T('Python')

('Python', 27005)

In [6]:
def get_number_of_jobs_L(location):
    
 
    number_of_jobs = 0
    payload={"location":location} 
    response=requests.get(api_url,params=payload)
    if response.ok:           
        data = response.json()
        number_of_jobs += len(data)
    else: number_of_jobs += len(data)     

    return location,number_of_jobs

In [7]:
get_number_of_jobs_L("Los Angeles")

('Los Angeles', 27005)

In [13]:
loc = ["Los Angeles", "New York", "San Francisco", "Washington DC", "Seattle", "Austin", "Detroit"]
print(loc)

['Los Angeles', 'New York', 'San Francisco', 'Washington DC', 'Seattle', 'Austin', 'Detroit']

In [14]:
import openpyxl
from openpyxl import Workbook

In [17]:
wb=Workbook()
ws=wb.active

In [18]:
#your code goes here
loc = ["Los Angeles", "New York", "San Francisco", "Washington DC", "Seattle", "Austin", "Detroit"]
ws.append(['Location','number of job posting'])   # add a row with two columns 'Location' and 'number of job posting'
ws.append(get_number_of_jobs_L('Los Angeles'))   # add a row with two columns 'Country' and 'Continent'
ws.append(get_number_of_jobs_L('New York'))
ws.append(get_number_of_jobs_L('San Francisco'))
ws.append(get_number_of_jobs_L('Washington DC'))
ws.append(get_number_of_jobs_L('Seattle'))
ws.append(get_number_of_jobs_L('Austin'))
ws.append(get_number_of_jobs_L('Detroit'))

In [20]:
wb.save("job-postings.xlsx")

In [21]:
import pandas as pd
df=pd.read_excel("job-postings.xlsx")
df

        Location  number of job posting
0    Los Angeles                  27005
1       New York                  27005
2  San Francisco                  27005
3  Washington DC                  27005
4        Seattle                  27005
5         Austin                  27005
6        Detroit                  27005

In [22]:
tech = ["C","C#","C++","Java","JavaScript","Python","Scala","Oracle","SQL Server","MySQL Server","PostgreSQL","MongoDB"]
print(tech)

from openpyxl import Workbook        #import
wb=Workbook()                        # create a workbook object
ws=wb.active                         # use the active worksheet
ws.append(['Technology','number of job posting'])   # add a row with two columns 'Location' and 'number of job posting'
ws.append(get_number_of_jobs_T('C'))
ws.append(get_number_of_jobs_T('C#'))
ws.append(get_number_of_jobs_T('C++'))
ws.append(get_number_of_jobs_T('Java'))
ws.append(get_number_of_jobs_T('JavaScript'))
ws.append(get_number_of_jobs_T('Python'))
ws.append(get_number_of_jobs_T('Scala'))
ws.append(get_number_of_jobs_T('Oracle'))
ws.append(get_number_of_jobs_T('SQL Server'))
ws.append(get_number_of_jobs_T('MySQL Server'))
ws.append(get_number_of_jobs_T('PostgreSQL'))
ws.append(get_number_of_jobs_T('MongoDB'))

wb.save("job-postings-part-2.xlsx")

['C', 'C#', 'C++', 'Java', 'JavaScript', 'Python', 'Scala', 'Oracle', 'SQL Server', 'MySQL Server', 'PostgreSQL', 'MongoDB']

In [26]:
import pandas as pd
df=pd.read_excel("job-postings-part-2.xlsx")
df

      Technology  number of job posting
0              C                  27005
1             C#                  27005
2            C++                  27005
3           Java                  27005
4     JavaScript                  27005
5         Python                  27005
6          Scala                  27005
7         Oracle                  27005
8     SQL Server                  27005
9   MySQL Server                  27005
10    PostgreSQL                  27005
11       MongoDB                  27005